<h1>
    Find disturbances
</h1>
<form method="post">
  User: <input name="user" value="Test"/>
  <br/><br/>
  Lat: <input name="lat" type="number" value="52.31"/>
  <br/><br/>
  Lon: <input name="lon" type="number" value="4.83"/>
  <br/><br/>
  Radius: <input name="radius" type="number" value="1000"/>
  <br/><br/>
  Altitude: <input name="altitude" type="number" value="1000"/>
  <br/><br/>
  Occurrences: <input name="occurrences" type="number" value="4"/>
  <br/><br/>
  Timeframe: <input name="timeframe" type="number" value="60"/>
  <br/><br/>
  <button type="submit">Find disturbances</button>
</form>